.wrapper
{
    max-height: 120px;
    background-color: rgb(202, 95, 95);
	overflow-x: auto;
	display: flex;
}

.wrapper::-webkit-scrollbar {
	width: 100px;
}
.p1
{
    min-width: 300px;
    height: 50px;
    background-color: red;
	display: inline-block;
	position: relative;
}

.p2 {
    min-width: 300px;
    height: 50px;
    background-color: yellow;
	float: left;
	display: inline-block;
	position: relative;
}
